@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* 1. Define the font family */
  --font-beVietnamPro:
    "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-bg-primary: var(--bg-p);
  --color-bg-secondary: var(--bg-s);
  --color-bg-card: var(--bg-c);
  --color-text-primary: var(--text-p);
  --color-text-secondary: var(--text-s);
  --color-text-tertiary: var(--text-t);
  --color-accent: var(--acc);
  --color-accent-hover: var(--acc-h);
  --color-accent-light: var(--acc-l);
  --color-border-color: var(--border-c);
}

@layer base {
  :root {
    --bg-p: #0f1115;
    --bg-s: #1e1e1e;
    --bg-c: #2d2d2d;
    --text-p: #0f1115;
    --text-s: #cbd5e1;
    --text-t: #e2e8f0;
    --acc: #50c878;
    --acc-h: #3a9e5e;
    --acc-l: #34d399;
    --border-c: #404040;
  }

  /* [data-theme="light"] {
    --bg-p: #f9fafb;
    --bg-s: #ffffff;
    --bg-c: #ffffff;
    --text-p: #111827;
    --text-s: #6b7280;
    --text-t: #e2e8f0;
    --acc: #059669;
    --acc-h: #3A9E5E;
    --acc-l: #10b981;
    --border-c: #e5e7eb;
  } */

  body {
    background-color: var(--bg-p);
    color: var(--text-p);
    font-family: var(--font-beVietnamPro);
    transition:
      background-color 0.3s,
      color 0.3s;
  }
}
